* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    height: 100vh;
}

section {
    background-color: #F1F1F1;
    height: 100px;
    width: 100%;
}
